body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  color: #00B7FF;
}

#consumption svg {
  height: 350px;
  width: 1000px;
  min-width: 600px;
  min-height: 100px;
}

#consumption {
  margin-top: 20px;
  margin-left: 20px;
}

#breakdown svg {
  height: 350px;
  width: 1000px;
  min-width: 600px;
  min-height: 100px;
}

#breakdown {
  margin-top: 20px;
  margin-left: 20px;
}