extends layout

block content
    h1 Santa Cruz Water Consumption (2000-2010)
    small
        a(href="/") (go back)
    h4 Overall Metrics
        #consumption
            svg
    h4 Breakdown of water use
        #breakdown
            svg