extends layout

block content
    h1 Santa Cruz Water Consumption (2000-2010)
    ul.list-unstyled
        li
            a(href="/overall") Overall
        li
            a(href="/consumers") Number of consumers
    p 
        span All data was taken from the 
        a(href="http://data.cityofsantacruz.com/") City of Santa Cruz Open Data 
        span project